.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0%;
}
#txt{
    p{
        margin-top: 10%;
        font-size: 100px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }
    
}
#notfound{
    font-size: 50px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
}
#back{
    text-align: center;
    padding: 20px;
    button{
        padding: 10px;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        border: 1.5px solid black;
    }
}
